@charset "UTF-8";

/*▼活動レポート▼*/
body{
  margin:0 auto;
  max-width: 100%;
  overflow: auto;
}
#body-title{
  position: relative;
  margin: 2vw 0;
  padding:0;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
#body-title img{
  border-radius: 1.5vw;
}
#body-title h1{
  position: absolute;
  width: 100%;
  margin: 0;
  text-align: center;
  top: 0;
  padding: 3vw 0;
  height: 18vw;
  color: white;
  font-size: 10vw;
}
#report-name{
  width: 100%;
  padding: 3vw 2vw;
  overflow: hidden;
  background-color: #E3E3E3;
}
#report-name h2{
  margin:0;
  font-size: 7vw;
  float: left;
}
#report-name a{
  display: block;
  float: right;
  padding:1vw 0;
  text-decoration:none;
  color: #000;
}
#report-body {
  width: 90%;
  margin:0 auto;
}
#report-body h2{
  margin: 2vw;
  font-size: 8vw;
}
#report-body .text-box{
  margin: 2vw 6vw;
  margin-bottom: 20vw;
  font-size: 5vw;
}
#report-body #report-date{
  font-size: 5vw;
  margin: 0;
}
#report-body #report-title{
  font-size: 6vw;
  margin: 0;
}
#report-body #text-box{
  font-size: 4vw;
  margin:0;
}
#report-body #section-reportes{
  font-size: 4vw;
  text-decoration: none;
  color: #000;
}
#report-footer{
  width: 100%;
  padding:3vw 1vw;
  overflow: hidden;
  background-color: #E3E3E3;
}
#report-footer a{
  display: block;
  text-decoration: none;
  color: #000;
}
#report-footer #back{
  width: 15%;
  float: left;
}
#report-footer #next{
  width: 15%;
  float: right;
}
#report-footer #all{
  width: 70%;
  float: left;
  text-align: center;
}
/*▲活動レポート▲*/


/*▼PC表示用▼*/
@media screen and (min-width: 980px){
  .image-fluid{
    width: 70%;
  }
  #body-title h1{
  position: absolute;
  width: 100%;
  margin: 0;
  text-align: center;
  top: 0;
  padding: 3vw 0;
  height: 18vw;
  color: white;
  font-size: 6vw;
}
#info h2{
  margin: 2vw;
  font-size: 4.0vw;
}
#info .text-box{
  margin: 2vw 6vw;
  margin-bottom: 5vw;
  font-size: 2vw;
}
#info ol {
  font-size:27px;
}
p{
  font-size:27px;
}
#access ul{
  font-size:25px;
}
#ivent h2{
  margin-top: 130px
}

.access-map{
  width: 70%;
}
}
/*▲PC表示用▲*/